{% if splitted is defined %}
    <div class='col-md-11'>
        <a name="anchor{{ content.id }}"></a>
        <h2 class='title'>{{ content.getName()}}</h2>
        <div class="row splitted">
            {% for split in splitted %}
                <div class="col-md-4 col-xs-12">
                    {% autoescape false %}
                        {{ split }}
                    {% endautoescape %}
                </div>
            {% endfor %}
        </div>
        <div class='row'>
            <div class="col-md-10 col-md-offset-1">
                <div class='slides-container'>
                    {% if gallery.GalleryHasMedias is defined %}
                        {% for galleryHasMedia in gallery.GalleryHasMedias %}
                            <div style="background:url('{% path galleryHasMedia.media, 'big' %}');background-size: cover;background-position: center center; height: 100%;"></div>
                        {% endfor %}
                    {% endif %}
                    <a href='#' class='slidesjs-previous slidesjs-navigation'><i class='fa fa-chevron-left'></i></a>
                    <a href='#' class='slidesjs-next slidesjs-navigation'><i class='fa fa-chevron-right'></i></a>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class='col-md-11'>
        <a name="anchor{{ content.id }}"></a>
        <div class="stick"></div>
        <div class="row">
            <div class='col-md-4 col-xs-12 content'>
                <p class='title'>{{ content.getName()}}</p>
                <div class='advantage'>
                    {% autoescape false %}
                        {{ content.getContent()}}
                    {% endautoescape %}
                </div>
            </div>
            <div class='col-md-7 col-md-offset-1 col-xs-12'>
                <div class='slides-container'>
                    {% if gallery.GalleryHasMedias is defined %}
                        {% for galleryHasMedia in gallery.GalleryHasMedias %}
                            <div style="background:url('{% path galleryHasMedia.media, 'big' %}');background-size: cover;background-position: center center; height: 100%;"></div>

                        {% endfor %}
                    {% endif %}
                    <a href='#' class='slidesjs-previous slidesjs-navigation'><i class='fa fa-chevron-left'></i></a>
                    <a href='#' class='slidesjs-next slidesjs-navigation'><i class='fa fa-chevron-right'></i></a>
                </div>
            </div>
        </div>
    </div>
{% endif %}
