<div class="col-md-11">
    <a name="anchor{{ content.id }}" style=""></a>
    {% if content.link is empty %}
        <h1 class='title'>{{ content.getName()}}</h1>
    {% else %}
        <a href="{{ content.link }}"><h1 class='title'>{{ content.getName()}}</h1></a>
    {% endif %}
    <div class="inside">
        {% if galleryId is defined and galleryId is not null  %}
            <a class="button-square" href="/linkedgallery/{{ galleryId }}" style="margin-left: 50px;margin-bottom: 20px;float: right;">Фото / Видео</a>
        {% endif %}
        {% autoescape false %}
            {{ content.getContent()}}
        {% endautoescape %}
        
    </div>
</div>