<div class="col-md-11 calendar">
    <a name="anchor{{ content.id }}" style="position: absolute;top: -115px;"></a>
    <div class="row">
        <div class="col-md-6">
            <p class="title">алендарь событий</p>
        </div>
        <div class="col-md-6">
            <a class="button-square" href="/calendar/all" style="float:right;">Все события</a>
        </div>
    </div>
    <div class="col-md-3 leftBlock">
        {% for monthInfo in content %}
            {% if loop.index == 1 %}
                <a href="javascript:;" data="{{ loop.index }}" class="active">{{ monthInfo.monthRus }}</a>
            {% else %}
                <a href="javascript:;" data="{{ loop.index }}" class="">{{ monthInfo.monthRus }}</a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-md-9 rightBlock">
        
        {% for monthInfo in content %}
            {% if loop.index == 1 %}
                {% set active = 'active' %}
            {% else %}
                {% set active = '' %}
            {% endif %}
            <div class="calendarMonth {{ active }}" month="{{ loop.index }}">
                {% for event in monthInfo.content|slice(0, 3) %}
                    <div class="col-md-12" style="height: 155px;margin-bottom: 10px;">
                         {% media event.media, 'big' with {'class': ''} %}
                        <p>{{ event.date|date('d.m') }} {{ event.name }}</p>
                        <a class="button-square" href="/calendar/{{ event.id }}" style="float:right;">Узнать подробнее</a>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        
    </div>
</div>