{% extends 'EasyMainBundle::layout.html.twig' %}
{% block pageContent %}
    <div id="page">
        <div class="container">
            <div class="col-md-11 col-xs-12">
                <p class="title">{{ title }}</p>
                <div class="links">
                    <div class="row" style="margin-bottom: 30px;">
                        {% for event in calendar %}
                            <div class="col-md-3 col-xs-6">
                                <a href="#popup{{ loop.index }}" class="popup">
                                    {% if event.media is defined %}
                                        <div style="width: 100%; height: 165px; background: url('{% path event.media, 'big' %}'); background-size: cover;">
                                        </div>
                                    {% endif %}
                                    {{ event.name }}
                                </a>
                            </div>
                            <div style='display:none;'>
                                <div id='popup{{ loop.index }}' style='padding:10px; background:#fff;'>
                                    <div class="inside">
                                        {% autoescape false %}
                                            {{ event.text }}
                                        {% endautoescape %}
                                    </div>
                                </div>
                            </div>
                            {% if loop.index%4 == 0 %}
                                </div>
                                <div class="row" style="margin-bottom: 30px;">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {% if archive|length > 0 %}
            <div class="container">
                <div class="col-md-12">
                    <p class="title">Архив событий</p>
                    <div class="row" style="margin-bottom: 30px;">
                        {% for value in archive %}
                            <a class="button-square" style="margin-right: 25px; clear: none;" href="/calendar/archive/{{ value.year }}">{{ value.year }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    
{% endblock %}

{% block sideHeader %}
{% endblock %}

{% block topHeader %}
    <ul style="position: relative;">
        
    </ul>
{% endblock %}