<div class="col-md-11 calendar">
    <a name="anchor{{ content.id }}"></a>
    <div class="row">
        <div class="col-md-6 col-xs-10">
            <p class="title">Календарь событий</p>
        </div>
        <div class="col-md-6 col-xs-2">
            <a class="button-square hidden-xs" href="/calendar/all" style="float:right;">Все события</a>
            <a class="button-square visible-xs" href="/calendar/all" style="float:right;"></a>
        </div>
    </div>
    <div class="col-md-3 leftBlock col-xs-4">

        {% for key, year in month %}
            <p style="font-family: RobotoLight;color: #fff;margin: 8px auto;font-size: 1.5em;">{{ key }}</p>
            {% for monthKey, monthInfo in year %}
                {% if currentYear == key and monthKey == currentMonth %}
                    <a href="javascript:;" data="{{ loop.parent.loop.index }}{{ loop.index }}" class="active">{{ monthInfo.monthRus }}</a>
                {% else %}
                    <a href="javascript:;" data="{{ loop.parent.loop.index }}{{ loop.index }}" class="">{{ monthInfo.monthRus }}</a>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    <div class="col-md-9 rightBlock col-xs-8">
        {% for key, year in month %}
            {% for monthKey, monthInfo in year %}
                {% if currentYear == key and monthKey == currentMonth %}
                    {% set active = 'active' %}
                {% else %}
                    {% set active = '' %}
                {% endif %}
                <div class="calendarMonth {{ active }}" month="{{ loop.parent.loop.index }}{{ loop.index }}">
                    {% for event in monthInfo.content %}
                        <div class="col-md-12 hidden-xs" style="height: 155px;margin-bottom: 10px;">
                             {% media event.media, 'big' with {'class': ''} %}
                            <p>{{ event.datestart|date('d.m') }} {{ event.name }}</p>
                            <a class="button-square" href="/calendar/{{ event.id }}" style="float:right;">Узнать подробнее</a>
                        </div>
                        <div class="col-xs-12 visible-xs no-padding" style="height: 155px;margin-bottom: 10px;">
                            <p style="padding: 0;">{{ event.datestart|date('d.m') }} {{ event.name }}</p>
                            {% media event.media, 'big' with {'style': 'width: 60px;'} %}
                            <a class="button-square" href="/calendar/{{ event.id }}" style="float:right;padding: 5px;">Узнать</a>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>