<div class="content calendar">
    <div class="buttonSquare" style="position: absolute;right: 520px;top: 35px;">
        <a href="/calendar/all" style="font-size: 20px;padding: 4px 20px;">Все события</a>
    </div>
    <p class="title">Календарь событий</p>
    <div class="leftBlock">
        {% for monthInfo in content %}
            {% if loop.index == content|length %}
                <a href="#" data="{{ loop.index }}" class="active">{{ monthInfo.monthRus }}</a>
            {% else %}
                <a href="#" data="{{ loop.index }}" class="">{{ monthInfo.monthRus }}</a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="rightBlock">
        {% for monthInfo in content %}
            {% if loop.index == content|length %}
                {% set active = 'active' %}
            {% else %}
                {% set active = '' %}
            {% endif %}
            <div class="calendarMonth {{ active }}" month="{{ loop.index }}">
                {% for event in monthInfo.content|slice(0, 3) %}
                    <div class="row">
                         {% media event.media, 'big' with {'class': ''} %}
                         <p>{{ event.date|date('d.m') }} {{ event.name }}</p>
                         <div class="buttonSquare">
                            <a href="/calendar/{{ event.id }}">Узнать подробнее</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        
    </div>
</div>