<div class="col-xs-12 visible-xs" style="margin-top: 40px;"></div>
<div style="position:relative;display: block;clear: both;">
    <div class='col-md-12' name="video" style="min-height: 300px;">
        <a name="anchor{{ content.id }}"></a>
        <div class="stick"></div>
        <div class="row">
            <div class='col-md-4 col-xs-6'>
                {% if content.link is empty %}
                    <h1 class='title'>{{ content.getName()}}</h1>
                {% else %}
                    <a href="{{ content.link }}"><h1 class='title'>{{ content.getName()}}</h1></a>
                {% endif %}

                <div class='advantage'>
                    {% autoescape false %}
                        {{ content.getContent()}}
                    {% endautoescape %}
                </div>
            </div>
            <div class='col-md-8 col-xs-2'>
                <a class='play'><i class='fa fa-play'></i></a>
            </div>
        </div>
    </div>
    
    <div class="angle-block-video">
        <video id="angle-video" loop='loop' autoplay="autoplay">
            <source src='{% path gallery.GalleryHasMedias[0].media, 'reference' %}' type='video/mp4'>
        </video>
    </div>
    <div class="angle-block-bg"></div>
</div>