{% if random(2) == 1 %}
    <div class='col-md-11'>
        <a name="anchor{{ content.id }}" style="position: absolute;top: -115px;"></a>
        <p class='title' style='text-align:center;'>{{ content.getName()}}</p>
        <div class="row" style="clear:both;margin: 50px 0;text-align: center;font-family: sansRoundedBold;">
            <div class="col-md-4" style="border-right: 2px solid #724EA0;">
                <p>СТАНДАРТНЫЕ</p>
                <p style="font-family: robotoLight;">2 раза в неделю по 75 минут</p>
            </div>
            <div class="col-md-4" style="border-right: 2px solid #724EA0;">
                <p>ИНТЕНСИВНЫЕ</p>
                <p style="font-family: robotoLight;">3 раза в неделю по 4 часа</p>
            </div>
            <div class="col-md-4" style="">
                <p>ДЕТСКИЕ</p>
                <p style="font-family: robotoLight;">2 раза в неделю по 60 минут</p>
            </div>
            <div class='col-md-12'>
                <div class="buttonSquare" style="float:right;">
                    <a href="javascript:;" onclick="toggleMenu('secondLayerMenu11');">Подробнее<i class="fa fa-angle-right"></i></a>
                </div>
                <img src="{{ asset('/bundles/easymain/images/cat.jpg') }}" style="position: absolute;width: 110px;right: 70px;top: -245px;">
                <img src="{{ asset('/bundles/easymain/images/ghost.jpg') }}" style="position: absolute;width: 110px;left: 0;top: 40px;">
            </div>
        </div>
        
    </div>
{% else %}
    <div class='col-md-11' style="border-bottom: none;">
        <a name="anchor{{ content.id }}" style="position: absolute;top: -115px;"></a>
        <div class="stick"></div>
        <div class="row">
            <div class='col-md-4'>
                <p class='title'>{{ content.getName()}}</p>
                <div class='advantage'>
                    {% autoescape false %}
                        {{ content.getContent()}}
                    {% endautoescape %}
                </div>
                <div class="buttonSquare" style="float:left;">
                    <a href="javascript:;" onclick="toggleMenu('secondLayerMenu11');">Узнать подробнее<i class="fa fa-angle-right"></i></a>
                </div>
                {% if content.secondMenu !=  -1%}
                    {#<div class='buttonSquare'>
                        <a href='javascript:;' onclick="toggleMenu('secondLayerMenu{{ content.getSecondMenu()}}');">Узнать подробнее</a>
                    </div>#}
                {% endif %}
            </div>
            <div class='col-md-8'>
                     
            </div>
        </div>
    </div>
    {#<div class="angleBlock" style="background: url('{% path gallery.GalleryHasMedias[0].media, 'big' %}');background-size: cover;background-position: center center;"></div>#}
    {% set foo = random(2) %}
    {% if foo == 1 %}
        <div class="angleBlock" style="background: url('{{ asset('/bundles/easymain/images/leto.jpg') }}');background-size: cover;background-position: center center;"></div>
    {% elseif foo == 2 %}
        <div class="angleBlock" style="background: url('{{ asset('/bundles/easymain/images/tsrr.jpg') }}');background-size: cover;background-position: center center;"></div>
    {% elseif foo == 0 %}
        <div class="angleBlock" style="background: url('{{ asset('/bundles/easymain/images/det.jpg') }}');background-size: cover;background-position: center center;"></div>
    {% endif %}
    
    
    
    
    <div class="angleBlock" style="

    opacity: 1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+25,ffffff+75,ffffff+100&amp;1+0,0+25,0+75,1+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,0) 75%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(25%,rgba(255,255,255,0)), color-stop(75%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,0) 75%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,0) 75%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,0) 75%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,0) 75%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */


    ">

    </div>

    <div class="angleBlock" style="

    opacity: 1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+22,ffffff+48&amp;0.9+0,0.9+22,0+48 */
    background: -moz-linear-gradient(left,  rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 22%, rgba(255,255,255,0) 48%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.9)), color-stop(22%,rgba(255,255,255,0.9)), color-stop(48%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 22%,rgba(255,255,255,0) 48%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 22%,rgba(255,255,255,0) 48%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 22%,rgba(255,255,255,0) 48%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 22%,rgba(255,255,255,0) 48%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */




    ">

    </div>
{% endif %}
