<div class="col-md-11 calendar">
    <div class="buttonSquare" style="position: absolute;right: 5px;top: -3px;">
        <a href="/calendar/all">Все события<i class="fa fa-angle-right"></i></a>
    </div>
    <p class="title">Календарь событий</p>
    <div class="col-md-3 leftBlock">
        {% for monthInfo in content %}
            {% if loop.index == 1 %}
                <a href="#" data="{{ loop.index }}" class="active">{{ monthInfo.monthRus }}</a>
            {% else %}
                <a href="#" data="{{ loop.index }}" class="">{{ monthInfo.monthRus }}</a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-md-9 rightBlock">
        
        {% for monthInfo in content %}
            {% if loop.index == 1 %}
                {% set active = 'active' %}
            {% else %}
                {% set active = '' %}
            {% endif %}
            <div class="calendarMonth {{ active }}" month="{{ loop.index }}">
                {% for event in monthInfo.content|slice(0, 3) %}
                    <div class="row">
                         {% media event.media, 'big' with {'class': ''} %}
                         <p>{{ event.date|date('d.m') }} {{ event.name }}</p>
                         <div class="buttonSquare">
                            <a href="/calendar/{{ event.id }}">Узнать подробнее</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        
    </div>
</div>