<div class="content calendar">
    <p class="title">Календарь событий</p>
    <div class="leftBlock">
        {% for monthInfo in content %}
            {% if loop.index == 1 %}
                <a href="#" data="{{ loop.index }}" class="active">{{ monthInfo.monthRus }}</a>
            {% else %}
                <a href="#" data="{{ loop.index }}" class="">{{ monthInfo.monthRus }}</a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="rightBlock">
        
        {% for monthInfo in content %}
            {% if loop.index == 1 %}
                {% set active = 'active' %}
            {% else %}
                {% set active = '' %}
            {% endif %}
            <div class="calendarMonth {{ active }}" month="{{ loop.index }}">
                {% for event in monthInfo.content|slice(0, 2) %}
                    <div class="row">
                         {% media event.media, 'big' with {'class': ''} %}
                         <p>{{ event.date|date('d.m') }} {{ event.name }}</p>
                         <div class="buttonSquare">
                            <a href="/calendar/{{ event.id }}">Узнать подробнее</a>
                        </div>
                    </div>
                {% endfor %}
                <div class="buttonSquare" style="margin: 70px auto 0 auto;display: table;float: none;padding: 6px 14px;">
                    <a href="/calendar/all" style="font-size:22px;">Все события</a>
                </div>
            </div>
        {% endfor %}
        
    </div>
</div>