{% extends 'EasyMainBundle::layout.html.twig' %}
{% block pageContent %}
    <section class="section">
        <div class="content">
            <p class="title">{{ content.getName() }}</p>
            <div class="links">
                {% for news in content %}
                    <a href="#popup{{ loop.index }}" class="popup">
                        {% if news.media is defined %}
                            {% media news.media, 'big' with {'class': ''} %}
                        {% endif %}
                        {{ news.name }}
                    </a>
                    <div style='display:none;'>
                        <div id='popup{{ loop.index }}' style='padding:10px; background:#fff;'>
                            <div class="inside">
                                {% autoescape false %}
                                    {{ news.text }}
                                {% endautoescape %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block sideHeader %}
{% endblock %}

{% block topHeader %}
    <ul style="position: relative;">
        <li><a href="/life/#section2" class="scroll">Наша жизнь</a></li>
    </ul>
{% endblock %}
