{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block sonata_tab_content %}
    {{ parent() }}

    <div class="container-fluid">
        <div class="col-md-12"> {# default class 'col-md-12' removed because it do not work with tabs#}
            <div class="box box-success">
                <div class="box-header">
                    <h4 class="box-title">
                        JavaScript Upload
                    </h4>
                </div>
                <div class="box-body">
                    <input id="fileupload" type="file" name="files[]" data-url="{{ oneup_uploader_endpoint('gallery') }}" multiple />
                    <div id="fileupload-progress" class="progress" style="display: none;">
                        <div class="progress-bar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock sonata_tab_content %}

{% block javascripts %}
    {{ parent() }}

    {{ include('XXXX::js_fileuploader.html.twig') }}

    <script>
        $(document).ready(function()
        {
            $('#fileupload').fileupload({
                formData: {
                    galleryId: {{ object.id }}
                },
                start: function (e) {
                    $('#fileupload').slideUp();
                    $('#fileupload-progress').slideDown();
                },
                stop: function (e) {
                    $('#fileupload-progress .progress-bar').text('Seite wird aktualisiert...');
                    window.location.reload();
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    var $progressBar = $('#fileupload-progress .progress-bar');

                    $progressBar.css('min-width', '2em');
                    $progressBar.css('width', progress + '%');
                    $progressBar.text(progress + ' %');
                }

            });
        });
    </script>
{% endblock javascripts %}