{% extends 'EasyMainBundle::layout.html.twig' %}

{% block topHeader %}     
    <ul style="position: relative;">
        <li><a href="#section1" >Особенность</a></li>
        <li><a href="#section3" >Программа</a></li>
        <li><a href="#section4" >Важно знать</a></li>
        <li><a href="#section7" >Преподователи</a></li>
        <li><a href="#section8" >Фото</a></li>
        <li><a href="#section9" >Видео</a></li>
    </ul>
{% endblock %}

{% block sideHeader %}
    <nav id="nav">
        <ul id="menu">
            <li data-menuanchor="section1"><a href="#section1" ></a><div>В чем наша особенность</div></li>
            <li data-menuanchor="section2"><a href="#section2" ></a><div>Билингвизм</div></li>
            <li data-menuanchor="section3"><a href="#section3" ></a><div>Программа</div></li>
            <li data-menuanchor="section4"><a href="#section4" ></a><div>Важно знать</div></li>
            <li data-menuanchor="section5"><a href="#section5" ></a><div>Условия</div></li>
            <li data-menuanchor="section6"><a href="#section6" ></a><div>Вопросы</div></li>
            <li data-menuanchor="section7"><a href="#section7" ></a><div>Преподователи</div></li>
            <li data-menuanchor="section8"><a href="#section8" ></a><div>Фото</div></li>
            <li data-menuanchor="section9"><a href="#section9" ></a><div>Видео</div></li>
            <li data-menuanchor="section10"><a href="#section10" ></a><div>Контакты</div></li>
        </ul>
    </nav>
{% endblock %}

{% block sections %}
    anchors: ['section1', 'section2', 'section3', 'section4' , 'section5', 'section6', 'section7', 'section8', 'section9', 'section10'],
{% endblock %}
    
{% block coloring %}
    <script>
        $(function(){
            $('.contact p').addClass('yellow');
        });
    </script>
{% endblock %}


{% block secondLayerMenu %}
    <div class="nav-menu secondLayerMenu">
        <a href="{{ path('easy_main_homepage') }}">
            <img id="logo" src="{{ asset('/bundles/easymain/images/logoMain.png') }}" >
        </a>
        <div class="menuList">
            <div class="col-2">
                <div><a class="yellowHover" href="#">наша особенность</a></div>
                <div><a class="redHover" href="#">билингвизм</a></div>
                <div><a class="blueHover" href="#">программа</a></div>
                <div><a class="yellowHover" href="#">важно знать</a></div>
                <div><a class="purpleHover" href="#">условия</a></div>
            </div>
            <div class="col-2">
                <div><a class="yellowHover" href="#">вопросы</a></div>
                <div><a class="redHover" href="#">преподователи</a></div>
                <div><a class="blueHover" href="#">фото</a></div>
                <div><a class="yellowHover" href="#">видео</a></div>
                <div><a class="purpleHover" href="#">контакты</a></div>
            </div>
        </div>
        <div class="menu-button" onclick="toggleMenu('secondLayerMenu');">
            <span class=""></span>
            <span class=""></span>
            <span class=""></span>
        </div>
    </div>
{% endblock %}

{% block content %}
    
    <section class="section">
        <div class="content">
            <p class="title yellow" style="">В чем наша особенность</p>
            <div class="inside">
                <img src="{{ asset('/bundles/easymain/images/bili1.jpg') }}" class="solo">
                <p>Нашей главной особенностью является английский язык. И это не просто занятия, это <span>полное погружение</span> в мир английского языка. Ведь на протяжении всего дня преподаватели играют и общаются с 
                малышами только на английском! Это удивительно, но чем раньше дети попадают к нам, тем быстрее 
                они адаптируются к иностранному языку и начинают его понимать, а затем и сами говорить на нем.
                </p>
                <p>Основной задачей нашего детского сада является <span>воспитание всесторонне развитой современной 
                личности</span>. Мы ценим индивидуальность каждого ребенка и гордимся тем, что наш гибкий подход к 
                обучению позволяет малышам наиболее полно раскрыть свои способности.
                </p>
                <p>Дружеская  <span>атмосфера</span>  и  современный  подход  к  детям,  тепло  и  забота  воспитателей,  а  также 
                вовлечение родителей в наш процесс обучения еще больше помогают почувствовать, что мы одна 
                крепкая семья.
                </p>
                <p>С малышом будут заниматься только опытные и молодые преподаватели, ведь мы знаем, чтобы научить чему-то ребёнка, нужно с ним много играть и быть таким 
                же ребёнком в душе! Наши педагоги умеют радоваться сами и дарить радость детям!
                </p>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="content">
            <p class="title yellow" style="">Билингвизм</p>
            <div class="inside">
                <img src="{{ asset('/bundles/easymain/images/bili2.jpg') }}" class="solo">
                <p>Наши малыши одинаково свободно говорят и думают на английском и русском языках, таким 
                    образом, они являются маленькими <span>билингвами</span>.
                </p>
                <p><span>Билингвизм</span> влияет на умственное развитие в целом, потому что двуязычный человек смотрит на 
                мир с двух разных сторон,что делает его восприятие менее ограниченным, чем у человека, говоря-
                щего на одном языке. Более того, обширное мышление помогает быстро находить решение про-
                блем, а также способствует высокому уровню развития абстрактного мышления.
                </p>
                <p>Чем младше ребенок, тем больше у него шансов овладеть вторым языком в максимально возмож-
                ном объеме и с естественным произношением. Память ребенка более восприимчива в отличии от 
                взрослого, он не стеснен комплексами и не боится совершить ошибку.
                </p>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="content">
            <p class="title yellow" style="">Программа</p>
            <div class="inside">
                <img src="{{ asset('/bundles/easymain/images/bili3.jpg') }}" class="solo">
                <p>В садике не только общение, но и обучение проводится на английском языке.</p>
                <p><span>Наши программы</span> - это уникальный комплекс, разработанный методистами Easy Kindergarten специально для детей-билингвов. За основу мы берем Оксфордские и Кембриджские программы для 
                    носителей языка - это те методики, согласно которым учатся в детских садах в «англоговорящих» 
                    странах, а также русскую программу «Детство», чтобы дети выпускались подготовленными к школе</p>
                <p>Каждый день наших маленьких студентов ждут увлекательные уроки, согласно возрастным особенностям: письмо, чтение, английский язык, счет и наука (общие знания о мире, природных явлениях и т.п.). Также во второй половине дня с малышами проводятся дополнительные творческие 
                    занятия: hand-made (дети делают поделки, учатся лепить, рисовать и клеить), хореография, team-building (мероприятия, направленные на сплочение детей всего садика, например, садоводство, 
                    совместное приготовление несложных блюд), month topic (дополнительные языковые занятия по теме месяца).</p>
                <p>Для детей старших групп проводятся уроки русского языка, ориентированные на подготовку ребенка к школе.</p>
                <p>Масштабно и весело мы отмечаем все традиционные праздники - Новый год, Пасха, Хэллоуин. Есть у нас и собственные Олимпийские игры в марте каж-
                дого года. Также мы не забываем и про русские праздники: День Защитника Отечества, 8 Марта, Масленица, День Победы. Эти мероприятия не только 
                для детей, но и для их родителей, которые могут с головой окунуться в атмосферу нашего детского сада!
                В конце года у нас выпускной - яркое событие в жизни детей и их родителей.</p>
            </div>
        </div>
    </section>
    
    
    <section class="section">
        <div class="content">
            <p class="title yellow" style="">Важно знать</p>
            <div class="inside">
                <img src="{{ asset('/bundles/easymain/images/bili3.jpg') }}" class="solo">
                <p>Easy Kindergarten открыт для малышей от 1,8 до 6 лет.</p><p>
                Ребенок находится в детском саду каждый день с 8.00 до 19.00, за исключением выходных и праздничных дней.</p><p>
                Приводят детей в садик с 8.00 до 9.00.</p><p>
                Забирают детей с 17.00 до 18.00.</p><p>
                Дежурная группа под присмотром дежурного воспитателя с 18.00 до 19.00.</p><p>
                В садике предусмотрены отдельные группы для детей 2-3, 3-4, 4-5, 5-6 лет, программа для которых адаптирована с учетом возрастных особенностей.</p><p>
                В группах в среднем по 12 человек.
                </p>
                <p>Медицинское обслуживание осуществляется личным врачом детского сада.</p>
                <p>Обязательная программа (уроки) в садике идут с сентября по июнь.</p>
                <p>Каникулы - с июля до середины августа - посещение по желанию.</p>
                <p>Ремонт садика - с середины августа до 1 сентября.</p>
                <p>Вступительный единовременный взнос - 10 000 рублей.</p>
                <p>Стоимость - 24 000 рублей за месяц.</p>
            </div>
        </div>
    </section>
    
    <section class="section">
        <div class="content">
            <p class="title yellow" style="">Условия</p>
            <div class="inside">
                <img src="{{ asset('/bundles/easymain/images/bili3.jpg') }}" class="solo">
                <p>Садик находится в экологически чистом районе города, в коттедже с собственным садом.</p>
                <p>На большой придомовой территории организованы ограждения по тематическим зонам: игровая 
                площадка, песочница, огород, сад и сцена. Это позволяет малышам много времени проводить на 
                свежем воздухе.</p>
                <p>У каждой группы в садике своя комната, свой санузел и два воспитателя, которые работают 
                посменно (один до обеда, другой - после). Из персонала также няни, технический работник, администратор и педиатр.</p>
                <p>Имеется отдельный кабинет с интерактивной доской, в котором проходят занятия с детьми.</p>
                <p>Питание 5-ти разовое, входит в общую стоимость. Рацион подстраивается под  индивидуальные
                особенности ребенка, его аллергии или привычки.</p>
                <p>Прогулки в теплое время 2 раза в день (до обеда и после ужина); в зимнее время в зависимости от погодных условий (как правило, 1 раз в день до обеда).</p>
                <p>Около коттеджа удобная зона для парковки автомобилей.</p>
            </div>
        </div>
    </section>
    
    <section class="section">
        <div class="content">
            <p class="title yellow" style="">Вопросы</p>
            <div class="inside">
                <img src="{{ asset('/bundles/easymain/images/bili3.jpg') }}" class="solo">
                <p>Часто задаваемые вопросы, связанные с билингвизмом:</p>
                <p>Билингвальное (двуязычное) развитие. «Метод глубокого погружения». Именно «методом погру-
                жения» ребёнок спонтанно, целостно и без напряжения осваивает английский язык: без препода-
                вателей, методик, зубрёжки.</p>
                <p>Будет ли ребенок путать языки?<br/>
                Иногда на начальных этапах говорения дети допускают в одной смысловой фразе слова из разных 
                языков. Это происходит оттого, что те или иные слова на разных языках имеют более лёгкое про-
                изношение, значительно короче. Это защитная и вполне нормальная реакция ребёнка. Это времен-
                ное явление, которое с возрастом исчезает. Ребёнок относится к каждому из двух языков как к сре-
                дству коммуникации, он готов общаться на любом из них, выражать свои мысли и чувства.</p>
                <p>Будет ли ребенок иметь логопедические проблемы?<br/>
                Логопедические проблемы никак не связаны с двуязычием детей, как таковым. Они возникают вследствие стресса, острой обстановки в семье, связан-
                ной с принуждением ребёнка говорить на другом языке или неосторожным введением в новое языковое пространство. В Easy Kindergarten благоприят-
                ная и непринуждённая среда для эффективного изучения языка в раннем возрасте.</p>
                <p>Будет ли ребёнок развиваться, как и все другие дети?<br/>
                Двуязычие  само  по  себе  является  доказанным  развивающим  фактором,  который  тренирует  память  ребёнка,  его  внимание,  сообразительность, 
                быстроту реакции и логику, формирует умение понимать и сравнивать явления языка и математические представления.
                </p>
                
                <p>В каком возрасте лучше отдавать ребенка в английский детский сад?<br/>
                Чем младше ребёнок, тем больше у него шансов овладеть вторым языком в максимально возможном объёме и с естественным произношением. Память 
                ребёнка более восприимчива, в отличие от взрослого он не стеснён комплексами, не боится совершить ошибку, не вспомнить вовремя нужное слово.
                </p>
                <p>
                Узнать больше о нашем подходе и воспитании билингв, можно на следующих ресурсах:<br/>
                Воспитывая билингва - блог современной мамы<br/>
                Ю.Б. Гиппенрейтер «Общаться с ребенком. Как?»<br/>
                Ибука Масару «После трех уже поздно»<br/>
                М. Монтессори «Дом ребенка»<br/>
                Oxford Owl: http://www.oxfordowl.co.uk/<br/>
                Мультфильмы на английском языке http://www.peppapig.com/<br/>
                Мультфильмы на английском языке http://www.benandholly.tv/<br/>
                </p>
            </div>
        </div>
    </section>

    

    <section class="section">
        <div class="content">
            <div class="leftBlock" style="margin-top: 115px;">
                <div class="advantage address red" style="text-align: right;">
                    <p>адреса</p>
                    <a href="javascript:;" data-coordinates='[52.233, 104.284]'>Дзержинского, 24а</a>
                    <a href="javascript:;" data-coordinates='[52.267, 104.323]'>Дзержинского, 24а-2</a>
                    <a href="javascript:;" data-coordinates='[52.271, 104.248]'>Дзержинского, 24а-3</a>
                </div>
            </div>
            <div class="rightBlock">
                <p class="title yellow" style="">Контакты</p>
                <div id="map" style="width:570px; height:400px"></div>
            </div>
        </div>
    </section>

    
{% endblock %}

