{% extends 'EasyMainBundle:Default:main.html.twig' %}

{% block videoFullScreenFix %}
    <script>
        $(function(){
            $('#fullpage').css({'position':'initial'});
        });
    </script>
{% endblock %}

{% block content %}
    <div style="width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    top: -2px;
    overflow: hidden;
    z-index: 10001;
    opacity: 0.1;">
        <img src="{{ asset('/bundles/easymain/images/yellowSmall.png') }}">
        <img src="{{ asset('/bundles/easymain/images/redSmall.png') }}">
        <img src="{{ asset('/bundles/easymain/images/lightBlueSmall.png') }}">
        <img src="{{ asset('/bundles/easymain/images/blueSmall.png') }}">
        <img src="{{ asset('/bundles/easymain/images/greenSmall.png') }}">
        <img src="{{ asset('/bundles/easymain/images/saladSmall.png') }}">
    </div>
    
    <a href="#" class="soundControl"><i class="fa fa-volume-up"></i></a>
    
    <div id="mainVideo">
        <video id="mainVideoSource" loop="" style="opacity: 1;min-width: 100%;min-height: 100%;">
            <source src="{{ asset('bundles/easymain/video/wow.mp4') }}" type="video/mp4">
        </video>
    </div>
    <div class="" style="margin-top: 20%;z-index: 185;position: absolute;left: 38%;">
        <a href="#" onclick="toggleMenu('mainMenu');">
            <img src="{{ asset('bundles/easymain/images/logoMain.png') }}" style="margin:0 auto;display:table;margin-top:18%;width:300px;">
        </a>
        <a class="main-button" style="margin-top:20px;" href="#" onclick="toggleMenu('mainMenu');">Учись с удовольствием</a>
    </div>
{% endblock %}