<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
                {% if seo.seotitle is defined %}
                    {{ seo.seotitle }} | Образовательный центр
                {% else %}
                    Easy School | Образовательный центр
                {% endif %}
            {% endblock %}
        </title>
        {% if seo.seodescription is defined %}
            <meta name="description" content="{{ seo.seodescription }}" />
        {% endif %}
        {% if seo.seokeywords is defined %}
            <meta name="keywords" content="{{ seo.seokeywords }}" />
        {% endif %}
        <link rel="shortcut icon" href="/favicon.ico?v=1" type="image/x-icon">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/easymain/css/jquery-ui.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/easymain/css/font-awesome.min.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/easymain/css/bootstrap.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/easymain/css/main.css') }}" type="text/css" media="all" />
        {% endblock %}
        <script src="{{ asset('bundles/easymain/js/pace.min.js') }}"></script>
    </head>
    <body>
        <div class="contentLoader">
            <div id="preloaderBlock" style="">
                <div>
                    <img id="preloaderImage" src="{{ asset('bundles/easymain/images/logoMain.png') }}" >
                    <p>Пожалуйста, выберите город:</p>
                    <a href="#" onclick="hidePreloader()">Иркутск</a>
                    <a href="#" onclick="hidePreloader()">Ангарск</a>
                    <a href="//kr.e-a-s-y.ru" rel="nofollow">Красноярск</a>
                    <a href="//uu.e-a-s-y.ru" rel="nofollow">Улан-Удэ</a>
                    <a href="//e-a-s-y.com.ru" rel="nofollow">Киев</a>
                </div>
            </div>
            
            <div id="site-header">
                <div class="menu-button" onclick="toggleMenu('mainMenu');">
                    <span class=""></span>
                    <span class=""></span>
                    <span class=""></span>
                </div>
                <div class="nav-menu mainMenu">
                    <div style="position: absolute;width: 100%;height: 100%;z-index:99;" onclick="toggleMenu('mainMenu')"></div>
                    <div class="container" style="margin-top: 0;">
                        <div class="col-md-4 col-xs-4">
                            <a href="{{ path('easy_main_homepage') }}" class="header-logo">
                                <img src="{{ asset('/bundles/easymain/images/logoMain.png') }}" >
                            </a>
                        </div>
                    </div>
                    <div class="top top-menu">
                        <a href="/news/" class="">
                            <i class="fa fa-newspaper-o"></i>
                            <div style="margin-left: -6px;">новости</div>
                        </a>
                        <a href="/pay/">
                            <i class="fa fa-credit-card"></i>
                            <div style="margin-left: -2px;">оплата</div>
                        </a>
                        <a href="/contacts/all">
                            <i class="fa fa-map-marker"></i>
                            <div style="margin-left: -10px;">контакты</div>
                        </a>
                    </div>
                    <div class="menuList" style="position: relative;z-index: 100;">
                        <div class="row">
                            <div class="col-md-4 col-md-offset-2 col-xs-5 col-xs-offset-0 menu-section-link">
                                {% for value in mainMenu %}
                                    {% if '/'~value.url~'/' in path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
                                        <a info="{{ loop.index }}" class="{{ value.color }}Hover header-title active" href="javascript:;">{{ value.title }}</a>
                                    {% else%}
                                        <a info="{{ loop.index }}" class="{{ value.color }}Hover header-title" href="javascript:;">{{ value.title }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% for value in mainMenu %}
                                {% if '/'~value.url~'/' in path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
                                    <div class="col-md-6 col-xs-7 menu-section-content" info="{{ loop.index }}" style="display:block;">
                                {% else %}
                                    <div class="col-md-6 col-xs-7 menu-section-content" info="{{ loop.index }}">
                                {% endif %}
                                    {% if value.empty == false %}
                                        <a href="{{ path('easy_main_homepage') }}{{ value.url }}" style="font-size: 1.5em;">{{ value.title }}</a>
                                    {% else %}
                                        <p style="font-family: RobotoLight;font-size: 1.5em;color: #616161;margin: 0;padding-left: 10px;">{{ value.title }}</p>
                                    {% endif %}
                                    {% for children in value.children %}
                                        <a style="margin-left:0px;" href="{{ path('easy_main_homepage') }}{{ value.url }}/{{ children.url }}">{{ children.title }}</a>
                                        {% for lastchildren in children %}
                                            <a style="margin-left:20px;" href="{{ path('easy_main_homepage') }}{{ value.url }}/{{ children.url }}/{{ lastchildren.url }}">{{ lastchildren.title }}</a>
                                        {% endfor %}
                                    {% endfor %}
                                    </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="menuInfo col-md-8 col-xs-8" style="position: absolute;z-index: 100;">
                        <p class="hidden-xs" style="margin-bottom: 5px;">2000-2015 Сеть образовательных центров Easy School</p>
                        <span style="margin-right: 20px;"><i class="dot"></i>info@e-a-s-y.ru</span>
                        <span><i class="dot"></i>7(3952)72-36-72</span>
                    </div>
                    <div class="social-icons">
                        <a href="http://vk.com/easyschool" rel="nofollow" target="_blank"><i class="fa fa-vk"></i></a>
                        <a href="https://instagram.com/easy_school/" rel="nofollow" target="_blank"><i class="fa fa-instagram"></i></a>
                        <a href="https://www.facebook.com/easyschool1" rel="nofollow" target="_blank"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>

            <div id="top-header">
                <a href="{{ path('easy_main_homepage') }}">
                    <img src="{{ asset('/bundles/easymain/images/logoSchool.png') }}" style="position: relative;">
                </a>
                <div class="contact" style="position: relative;">
                    <a class="buttonHover opener">записаться</a>
                    <p><span style="font-size: 17px;">(3952)</span> 72-36-72</p>
                </div>
            </div>

            {% block content %}
            {% endblock %}
        </div>

        {% block javascripts %}
            <script src="{{ asset('bundles/easymain/js/jquery-2.1.4.min.js') }}"></script>
            <script src="{{ asset('bundles/easymain/js/jquery.cookie.js') }}"></script>

            <script src="{{ asset('bundles/easymain/js/jquery-ui.js') }}" ></script>
        {% endblock %}
        <script>
            $(window).on('load', function () {
                if(typeof $.cookie('cityId') === 'undefined'){
                    Pace.stop();
                    $('#preloaderBlock').fadeIn();
                }
            });
            
            
            function hidePreloader(){
                $('.soundControl').click();
                $('#preloaderBlock').fadeOut();
                Pace.start();
                var video = document.getElementById("mainVideoSource");
                video.play();
            }
            
            
            function toggleMenu(menuClass){
                $('.'+menuClass).fadeToggle(200);
                $('.'+menuClass).toggleClass('open');
                $('.menu-button').toggleClass('activeNavMenuButton');
            }
            
            
            $(function(){
                if($("#mainVideoSource").length){
                    var video = document.getElementById("mainVideoSource");
                    video.volume = 0.10;
                }
                
                $('.soundControl').on('click',function(){
                    var video = document.getElementById("mainVideoSource");
                    
                    if($(this).children('i').hasClass('fa-volume-off')){
                        $(this).children('i').removeClass('fa-volume-off');
                        $(this).children('i').addClass('fa-volume-up');
                        video.volume = 0.2;
                    }else{
                        $(this).children('i').removeClass('fa-volume-up');
                        $(this).children('i').addClass('fa-volume-off');
                        video.volume = 0;
                    }
                    
                });
                $('.menu-section-link a').on('click', function(){
                    $('.menu-section-content').css({'display':'none'});
                   var section = $(this).attr('info');
                   $('.menu-section-content[info='+section+']').css({'display':'block'});
                });
            });
            
            
            
            
        </script>
        {% block videoFullScreenFix %}
        {% endblock %}
        
        <!— Yandex.Metrika counter —>
        <script type="text/javascript">
        (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
        try {
        w.yaCounter21655906 = new Ya.Metrika({
        id:21655906,
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
        });
        } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/21655906" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!— /Yandex.Metrika counter —>
        
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-33850099-1', 'auto');
        ga('send', 'pageview');

        </script>
    </body>
</html>