{% extends 'EasyMainBundle::layout.html.twig' %}
{% block pageContent %}
    <div id="page">
        <div class="container">
            <div class="col-md-12">
                <div class="row" style="margin-bottom: 30px;">
                    {% if all == 0 %}
                        <p class="title">{{ title[content[0].type] }}</p>
                    {% else %}
                        <p class="title">Команда</p>
                        {% for key,value in title %}
                            <a class="button-square" href="/stuff/{{ key }}">{{ value }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="links">
                    <div class="row" style="margin-bottom: 30px;">
                        {% for stuff in content %}
                            <div class="col-md-3 col-xs-3">
                                <a href="#popup{{ loop.index }}" class="popup">
                                    {% media stuff.media, 'big' with {'class': ''} %}
                                    {{ stuff.name }}
                                </a>
                                <div style='display:none;'>
                                    <div id='popup{{ loop.index }}' style='padding:10px; background:#fff;'>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="advantage2 red" style="text-align: right;">
                                                <strong>{{ stuff.name }}</strong>
                                                {% autoescape false %}
                                                {{ stuff.text }}
                                                {% endautoescape %}
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xs-12">
                                            {% media stuff.media, 'big' with {'style': 'width: 100%;height: initial;'} %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if loop.index%4 == 0 %}
                                </div>
                                <div class="row" style="margin-bottom: 30px;">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sideHeader %}
{% endblock %}

{% block topHeader %}
{% endblock %}
