<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
                easy title
            {% endblock %}
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/easymain/css/jquery-ui.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/easymain/css/jquery.fullPage.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ asset('bundles/easymain/css/main.css') }}" type="text/css" media="all" />
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/easymain/js/jquery-2.1.4.min.js') }}"></script>
            <script src="{{ asset('bundles/easymain/js/jquery.cookie.js') }}"></script>
            <script src="{{ asset('bundles/easymain/js/jquery.slimscroll.min.js') }}"></script>
            <script src="{{ asset('bundles/easymain/js/pace.min.js') }}"></script>
            <script src="{{ asset('bundles/easymain/js/jquery.slides.min.js') }}"></script>
            {#<script src="{{ asset('bundles/easymain/js/in-viewport.min.js') }}"></script>#}
            <script src="{{ asset('bundles/easymain/js/jquery-ui.js') }}" ></script>
            <script src="{{ asset('bundles/easymain/js/jquery.easing.1.3.js') }}"></script>
            <script src="{{ asset('bundles/easymain/js/jquery.fullPage.js') }}"></script>
            
            
            <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
            
            <script src="{{ asset('bundles/easymain/js/main.js') }}" ></script>
        {% endblock %}
    </head>
    <body>
        
        {#<img id="preloaderImage" src="{{ asset('bundles/easymain/images/logoMain.png') }}" style="margin-left: 37.6%;margin-top:21%;width:300px;position: fixed;">#}
        
        {#<div>
            <p>Город</p>
        </div>#}
        <div class="contentLoader">
            
            <div id="site-header">
                <div class="menu-button" onclick="toggleMenu('mainMenu');">
                    <span class=""></span>
                    <span class=""></span>
                    <span class=""></span>
                </div>
                <div class="nav-menu mainMenu">
                    <a href="{{ path('easy_main_homepage') }}">
                        <img id="logo" src="{{ asset('/bundles/easymain/images/logoMain.png') }}" >
                    </a>
                    <div class="menuList">
                        
                    </div>
                    {#<div><a class="yellowHover" href="{{ path('easy_main_foreign') }}">иностранные языки</a></div>
                    <div><a class="purpleHover" href="{{ path('easy_kid') }}">детский сад</a></div>
                    <div><a class="blueHover" href="{{ path('easy_main_tsdo') }}">дополнительное образование</a></div>
                    <div><a class="yellowHover" href="#">школа раннего развития</a></div>
                    <div><a class="purpleHover" href="{{ path('easy_summer') }}">летние проекты</a></div>
                    <div><a class="redHover" href="#">наша жизнь</a></div>#}
                    
                    <div class="menuInfo">
                        <p style="margin-bottom: 5px;">2000-2015 Сеть образовательных центров Easy School</p>
                        <span style="margin-right: 20px;"><i class="dot"></i>info@e-a-s-y.ru</span>
                        <span><i class="dot"></i>7(3952)72-36-72</span>
                    </div>
                    <div class="socialIcons">
                        <i class="fa fa-vk"></i>
                        <i class="fa fa-instagram"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-youtube"></i>
                    </div>
                </div>
                {#{% block sideHeader %}
                {% endblock %}#}
                <nav id="nav">
                    <ul id="menu">
                       
                    </ul>
                </nav>
            </div>
            
            <div class="nav-menu secondLayerMenu">
                <a href="{{ path('easy_main_homepage') }}">
                    <img id="logo" src="{{ asset('/bundles/easymain/images/logoMain.png') }}" >
                </a>
                <div class="menuList">
                    <div class="col-2">
                    
                    </div>
                    
                </div>
                <div class="menu-button" onclick="toggleMenu('secondLayerMenu');">
                    <span class=""></span>
                    <span class=""></span>
                    <span class=""></span>
                </div>
            </div>
            


            <div id="top-header">
                <a href="{{ path('easy_main_homepage') }}">
                    <img src="{{ asset('/bundles/easymain/images/logoSchool.png') }}" style="position: relative;">
                </a>
                {#{% block topHeader %}
                {% endblock %}#}
                <ul style="position: relative;">
                   
                </ul>
                <div class="contact" style="position: relative;">
                    <a id="opener" class="buttonHover">записаться</a>
                    <p><span style="font-size: 17px;">(3952)</span> 72-36-72</p>
                </div>
            </div>

            <div id="fullpage">
                <section class="section">
                    <div class="content">
                        <div class="leftBlock">
                            <div class="advantage address purple red" style="text-align: right;">
                                <p>адреса</p>
                                <a href="javascript:;" address="1" data-coordinates="[52.281, 104.292]">Дзержинского, 24а (ТЦ Альянс)</a>
                                <a href="javascript:;" address="2" data-coordinates="[52.258, 104.322]">Байкальская, 188/3 (Цимлянская)</a>
                                <a href="javascript:;" address="3" data-coordinates="[52.263, 104.259]">Лермонтова, 90/1 (ТЦ Лермонтов)</a>
                                <a href="javascript:;" address="4" data-coordinates="[52.235, 104.277]">Белобородова, 8/1 (МНТК)</a>
                                <a href="javascript:;" address="5" data-coordinates="[52.243, 104.276]">Лермонтова, 331 (Академгородок)</a>
                                <a href="javascript:;" address="6" data-coordinates="[52.348, 104.152]">Ярославского, 380 (Ново-Ленино)</a>
                                <a href="javascript:;" address="7" data-coordinates="[52.253, 104.365]">Ржанова, 164 (Солнечный)</a>
                                <a href="javascript:;" address="8" data-coordinates="[52.263, 104.236]">Мамина-Сибиряка, 35 (Первомайский)</a>

                                <a style="margin-top:20px;" href="javascript:;" data-coordinates="[52.213, 104.098]">Шелехов, 1-й квартал, 10/1 а</a>
                                <a href="javascript:;" data-coordinates="[52.509, 103.835]">Ангарск, 181-й квартал, 1 (ДК Современник)</a>
                            </div>
                        </div>
                        <div class="rightBlock">
                            <div id="map" style="width: 570px; height: 400px; position: relative;"></div>
                            
                        </div>
                    </div>
                </section>
            </div>
            
            <div id="dialog">
                <form id="callback">
                    <input type="text" name="name" placeholder="Ваше имя">
                    <input type="text" name="phone" placeholder="Ваш номер телефона">
                    <a class="submit">жду звонка</a>
                    <a class='close' onclick="$( '#dialog' ).dialog( 'close' )">
                        <span class=""></span>
                        <span class=""></span>
                    </a>
                </form>
            </div>
            <div id="thankyou">
                <p style='font-size: 42px;margin: 0;'>СПАСИБО!</p>
                <p style='font-size: 22px;'>Мы свяжемся с вами<br/>в ближайшее время</p>
                <a href="#" class='close' onclick="$( '#thankyou' ).dialog( 'close' )">
                    <span class=""></span>
                    <span class=""></span>
                </a>
            </div>
        </div>
        <script>
            
            
            {#$(window).on('load', function () {
                //$.cookie('qwe',66, {path: '/'});
                //console.log($.cookie('cityId'));
                if(typeof $.cookie('cityId') === 'undefined'){
                    
                    var $preloader = $('#page-preloader'),
                    $spinner = $preloader.find('.spinner');
                    
                    setTimeout(function(){
                        //$spinner.fadeOut();
                        //$preloader.delay(350).fadeOut('slow');
                    }, 3000);
                }
            });
            function toggleMenu(menuClass){
                $('.'+menuClass).fadeToggle(200);
                $('.'+menuClass).toggleClass('open');
                $('.menu-button').toggleClass('activeNavMenuButton');
            }#}
            $(function(){
                if($("#map").length){
                    ymaps.ready(init);

                    function init () {
                        var myMap = new ymaps.Map("map", {
                                center: [52.28, 104.29],
                                zoom: 10
                            }, {
                                searchControlProvider: 'yandex#search'
                            });
                        $('.address a').each(function(index){
                           var coor = JSON.parse($(this).attr('data-coordinates'));
                           console.log(coor);
                           myMap.geoObjects
                                .add(new ymaps.Placemark(coor, {
                                    balloonContent: $(this).html()
                                }, {
                                    preset: 'islands#icon',
                                    iconColor: '#0095b6'
                                }));
                        });         
                        $('.address a').on('click', function(){
                            var coor = JSON.parse($(this).attr('data-coordinates'));
                            myMap.setCenter(coor, 14, {
                                duration: 500
                            });
                        });
                        
                        myMap.events.add('click', function (e) {
                            var coords = e.get('coords');
                            console.log(coords);
                        });
                        
                    }
                }
                
                
                $('a.submit').on('click', function(){
                    $( '#dialog' ).dialog( 'close' );
                    $( '#thankyou' ).dialog( 'open' );
                });
                
                $('#nav a+div').on('click', function(){
                    var mark = $(this).parents().attr('data-menuanchor');
                    $.fn.fullpage.moveTo(mark);
                });
                
                $( "#dialog" ).dialog({
                    autoOpen: false,
                    modal: true,
                    resizable: false,
                    draggable: false,
                    minWidth: 450,
                    height: 350,
                    close: function( event, ui ) {
                        $( "#dialog" ).removeClass("open");
                    }
                 });
                 
                 $( "#thankyou" ).dialog({
                    autoOpen: false,
                    modal: true,
                    resizable: false,
                    draggable: false,
                    height: 300,
                    minWidth: 400,
                    open: function( event, ui ) {
                        $( "#thankyou" ).addClass("open");
                    },
                    close: function( event, ui ) {
                        $( "#thankyou" ).removeClass("open");
                    }
                 });
                 

                  $( "#opener" ).click(function() {
                    $( "#dialog" ).dialog( "open" );
                    $( "#dialog" ).addClass("open");
                  });
                
                {#var scene = document.getElementById('scene');
                var parallax = new Parallax(scene);#}
                
                
                
                $(".panel").css({
                    "height":$(window).height()
                });
                var timer;

                $(window).resize(function() {
                    clearTimeout(timer);
                    timer = setTimeout(function() {
                            $(".panel").css({
                                    "height":$(window).height()
                            });
                    },40);
                });

                


                {#$(".scroll").click(function(e) {
                        e.preventDefault();
                        $.scrollify("move",$(this).attr("href"));
                });#}
                
                
                
                {#var canvas = $('#canvasMainMenu1 canvas').get(0);
                var context = canvas.getContext('2d');

                var rectX = 20;
                var rectY = 10;

                var rectWidth = 315;
                var rectHeight = 55;

                rectWidth = rectWidth-rectX;

                context.beginPath();
                context.moveTo(rectX, rectY);
                context.lineTo(rectX+rectWidth, rectY);
                context.quadraticCurveTo(rectX+rectWidth+10, 10, rectX+rectWidth+10, 20);
                context.lineTo(rectX+rectWidth+10, rectHeight);
                context.quadraticCurveTo(rectX+rectWidth+10, rectHeight+10, rectX+rectWidth, rectHeight+10);

                context.lineTo(rectX+16, rectHeight+rectY);

                context.bezierCurveTo(rectX, rectHeight+rectY+16, rectX, rectHeight+rectY+16, rectX, rectHeight+rectY);
                context.quadraticCurveTo(10, rectHeight+10, 10, rectHeight);
                context.lineTo(10, 20);
                context.quadraticCurveTo(10, 10, rectX, rectY);

                context.fillStyle = '#724EA0';
                context.fill();
                context.lineWidth = 1;
                context.strokeStyle = 'transparent';

                context.stroke();#}

                {#setTimeout(function() { 

                    var canvas = document.getElementById('canvasMainMenu1');
                    var context = canvas.getContext('2d');

                    var rectX = 20;
                    var rectY = 10;

                    var rectWidth = 315;
                    var rectHeight = 55;

                    rectWidth = rectWidth-rectX;

                    context.beginPath();
                    context.moveTo(rectX, rectY);
                    context.lineTo(rectX+rectWidth, rectY);
                    context.quadraticCurveTo(rectX+rectWidth+10, 10, rectX+rectWidth+10, 20);
                    context.lineTo(rectX+rectWidth+10, rectHeight);
                    context.quadraticCurveTo(rectX+rectWidth+10, rectHeight+10, rectX+rectWidth, rectHeight+10);

                    context.lineTo(rectX+16, rectHeight+rectY);

                    context.bezierCurveTo(rectX, rectHeight+rectY+16, rectX, rectHeight+rectY+16, rectX, rectHeight+rectY);
                    context.quadraticCurveTo(10, rectHeight+10, 10, rectHeight);
                    context.lineTo(10, 20);
                    context.quadraticCurveTo(10, 10, rectX, rectY);

                    context.fillStyle = '#724EA0';
                    context.fill();
                    context.lineWidth = 1;
                    context.strokeStyle = 'transparent';

                    context.stroke();

                    context.fillStyle = "#FFF";
                    context.font = '29px sansRoundedBold';
                    context.fillText("Узнать подробнее", rectX+18, rectY+37);
                    
                    
                    
                    
                    var canvas = document.getElementById('canvasMainMenu2');
                    var context = canvas.getContext('2d');

                    var rectX = 20;
                    var rectY = 10;

                    var rectWidth = 315;
                    var rectHeight = 55;

                    rectWidth = rectWidth-rectX;

                    context.beginPath();
                    context.moveTo(rectX, rectY);
                    context.lineTo(rectX+rectWidth, rectY);
                    context.quadraticCurveTo(rectX+rectWidth+10, 10, rectX+rectWidth+10, 20);
                    context.lineTo(rectX+rectWidth+10, rectHeight);
                    context.quadraticCurveTo(rectX+rectWidth+10, rectHeight+10, rectX+rectWidth, rectHeight+10);

                    context.lineTo(rectX+16, rectHeight+rectY);

                    context.bezierCurveTo(rectX, rectHeight+rectY+16, rectX, rectHeight+rectY+16, rectX, rectHeight+rectY);
                    context.quadraticCurveTo(10, rectHeight+10, 10, rectHeight);
                    context.lineTo(10, 20);
                    context.quadraticCurveTo(10, 10, rectX, rectY);

                    context.fillStyle = '#724EA0';
                    context.fill();
                    context.lineWidth = 1;
                    context.strokeStyle = 'transparent';

                    context.stroke();

                    context.fillStyle = "#FFF";
                    context.font = '29px sansRoundedBold';
                    context.fillText("Узнать подробнее", rectX+18, rectY+37);

                }, 100);#}
                
                
                $('.play').on('click', function(){
                    //var vid = document.getElementById("mainVideo");
                    var vid = $('.videoContainer video').get(0);
                    vid.play();
                    $('.play').toggle();
                    $('.pause').toggle();
                });
                
                $('.pause').on('click', function(){
                    var vid = $('.videoContainer video').get(0);
                    vid.pause();
                    $('.play').toggle();
                    $('.pause').toggle();
                });
                
                
                $('body').mousemove(function(e){
                    {#var middle = 0;
                    var amountMovedX = middle + (e.pageX * -1 / 30);
                    $('#top-header ul').css({'left':amountMovedX+'px'});
                    
                    amountMovedX = middle + (e.pageX * -1 / 100);
                    $('#top-header img').css({'left':amountMovedX+'px'});
                    
                    amountMovedX = middle + (e.pageX * -1 / 50);
                    $('#top-header .contact').css({'left':amountMovedX+'px'});
                    
                    amountMovedX = middle + (e.pageX * -1 / 120);
                    $('.content').css({'left':amountMovedX+'px'});#}
                });


                {#;(function($, win) {
                    $.fn.inViewport = function(cb) {
                       return this.each(function(i,el){
                         function visPx(){
                           var H = $(this).height(),
                               r = el.getBoundingClientRect(), t=r.top, b=r.bottom;
                           return cb.call(el, Math.max(0, t>0? H-t : (b<H?b:H)));  
                         } visPx();
                         $(win).on("resize scroll", visPx);
                       });
                    };
                  }(jQuery, window));#}


                $('.slidesCont').slidesjs({
                    width: 940,
                    height: 528,
                    navigation: false
                  });
                  
                  if($("#reviews").length){  
                    $("#reviews").slidesjs({
                        width: 940,
                        height: 428,
                        navigation: false,
                        callback: {
                          complete: function(number) {
                            // Do something awesome!
                            // Passes slide number at start of animation
                            console.log(number);
                          }
                        }
                    });
                }
                
                var sections = new Array();
                var count = $('.section').length;
                for(var i=1;i<=count;i++){
                    sections.push('section'+i);
                }
                $('#fullpage').fullpage({
                        anchors: sections,
                        menu: '#menu',
                        css3: true,
                        scrollingSpeed: 1000,
                        scrollOverflow:true
                });
            });
            
            
            
            
        </script>
        {#{% block coloring %}
        {% endblock %}#}
    </body>
</html>
{#<a class='scrolldown-button' href='#section2' style='bottom: 30px;'>
                            <i class='fa fa-chevron-down'></i>
                        </a>#}